.footer {
  background: $light-green;
  height: 60px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;

}
.footer a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
